<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstagramClone</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/dist/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div class="global-container">
        <nav class="grid-container">
            <div class="navigation-left-part"></div>
            <div class="navigation-central-part">
                <a style="margin-right:auto;" asp-action="UserAccount" asp-controller="Account" asp-route-id="">
                    <img src="~/Pics/insta.png" style="height:40px;width:100px;" />
                </a>
                <div style="margin:auto; display:flex; align-items:center; justify-content:center;">
                    <a id="add-post-action" style="cursor:pointer;">
                        <img src="~/Pics/addImage.png" style="width:30px;height:30px;" />
                    </a>
                </div>
                @*Delete this action after*@
            <div style="margin-left:auto;">
                <a  asp-controller="Account" asp-action="Navigate">
                    <img src="https://img.icons8.com/android/24/000000/compass.png">
                </a>
                <a  asp-action="UserAccount" asp-controller="Account" asp-route-id="null">
                    <img src="https://img.icons8.com/cotton/28/000000/person-male--v2.png">
                </a>
            </div>

            </div>
            <div class="navigation-right-part"></div>
        </nav>
        <main>
            @RenderBody()

        </main>


        <footer>
        </footer>

    </div>


    @RenderSection("Scripts", required: false);
    <script>
        //here
        $('.user-photo').mouseenter((e) => {
            $.ajax({
                type: "GET",
                url: "/Account/GetPostStats",
                data: { postId: $(e.target).attr('data-post-id') },
                success: (responce) => {
                    $(e.target.nextElementSibling).html(responce);
                },
                failure: (responce) => {

                }
            });
            $(e.target.nextElementSibling).css('visibility', 'visible');
        });

        //here
        $('.user-photo').mouseleave((e) => {
            $(e.target.nextElementSibling).css('visibility', 'hidden');
        });

        //this
        $('.user-photo').click((e) => {
            $.ajax({
                type: "GET",
                url: "/Account/GetProperBookmarksIcon",
                data: { postId: $(e.target).attr('data-post-id') },
                success: (responce) => {
                    $('#bookmark-post-button').html(responce);
                },
                failure: (responce) => {

                }
            });
        });

        //here
        $('#caption-post-form').submit((e) => {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/Account/AddComment",
                data: { text: $('#caption-post-form').children(':first').val(), postId: $('#post-caption-part').attr('data-post-id') },
                success: (responce) => {
                    $('#comments-central-part').html(responce);
                    $('#text-input').val('');
                    $('#caption-submit-button').css('opacity', '0.4');
                    $('#caption-submit-button').css('filter', 'alpha(opacity=40)');
                },
                failure: (responce) => {

                }
            });
        });

        //here
        $('.user-photo').click((e) => {
            $('#post-modal').css('display', 'flex');
        });

        //here
        $('.user-photo').click((e) => {
            $.ajax({
                type: "GET",
                url: "/Account/GetProperLikeIcon",
                data: { postId: $(e.target).attr('data-post-id') },
                success: (responce) => {
                    $('#like-picture-placeholder').html(responce);
                },
                failure: (responce) => {

                }
            });
        });

        //here
        $('.user-photo').click((e) => {
            $('#post-caption-part').attr('data-post-id', $(e.target).attr('data-post-id'));
        });



        //here
        $('#post-modal-close').click((e) => {
            $('#post-modal').css('display', 'none');
            $('#photo-part img').remove();
        });

        //here
        $('.user-photo').one('click', (e) => {
            $('#number-of-likes-part p').text(`Liked by ${$(e.target).attr('data-number-likes')} users`);
        });

        //here
        $('.user-photo').click((e) => {
            $('#photo-part').append(`<img style="width:100%;height:100%;" src="${$(e.target).attr('src')}"/>`);
            $.ajax({
                type: "GET",
                url: "/Account/GetAuthorGeneralInfo",
                data: { id: $(e.target).attr('data-author-id'), postId: $(e.target).attr('data-post-id') },
                success: (responce) => {
                    $('#comments-top-part').html(responce);
                },
                failure: (responce) => {

                }
            });
            $.ajax({
                type: "GET",
                url: "/Account/GetAllCaptions",
                data: { postId: $(e.target).attr('data-post-id') },
                success: (responce) => {
                    console.log('blah');
                    $('#comments-central-part').html(responce);
                },
                failure: (responce) => {

                }
            });
        });

        $('#text-input').keyup((e) => {
                        if ($(e.target).val().replace(/\s+/g, '').length > 0) {
                            console.log('t1');
                            $('#caption-submit-button').removeAttr('disabled');
                            $('#caption-submit-button').css('opacity','');
                            $('#caption-submit-button').css('filter','');
                        }
                        else {
                            console.log('t2');

                            $('#caption-submit-button').attr('disabled');
                            $('#caption-submit-button').css('opacity','0.4');
                            $('#caption-submit-button').css('filter','alpha(opacity=40)');
                        }
                    });

        $('#add-post-action').click((e) => {
            $('#add-post-modal').css('display', 'flex');
        });
        $('#add-post-modal-close').click((e) => {
            $('#add-post-modal').css('display', 'none');
        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    if ($(input).attr('name') === 'ProfilePicture') {
                        $('#user-picture').attr('src', e.target.result);
                    }
                    else {
                        $('#file-selected').attr('src', e.target.result);
                        $('#file-selected').css('display', 'inline');
                    }

                }

                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".file-upload").change(function () {
            readURL(this);
        });
    </script>
</body>
</html>
