<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InstagramClone</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/dist/jquery.unobtrusive-ajax.js"></script>
</head>
<body>
    <div class="global-container">
        <nav class="grid-container">
            <div class="navigation-left-part"></div>
            <div class="navigation-central-part">
                <a style="margin-right:auto;" asp-action="UserAccount" asp-controller="Account" asp-route-id="">
                    <img src="~/Pics/insta.png" style="height:40px;width:100px;" />
                </a>
                <div style="margin:auto; display:flex; align-items:center; justify-content:center;">
                    <a id="add-post-action" style="cursor:pointer;">
                        <img src="~/Pics/addImage.png" style="width:30px;height:30px;" />
                    </a>
                </div>
                @*Delete this action after*@
            <div style="margin-left:auto;">
                <a  asp-controller="Account" asp-action="Navigate">
                    <img src="https://img.icons8.com/android/24/000000/compass.png">
                </a>
                <a  asp-action="UserAccount" asp-controller="Account" asp-route-id="null">
                    <img src="https://img.icons8.com/cotton/28/000000/person-male--v2.png">
                </a>
            </div>

            </div>
            <div class="navigation-right-part"></div>
        </nav>
        <main>
            @RenderBody()
        </main>


        <footer>
        </footer>

    </div>


    @RenderSection("Scripts", required: false);
    <script src="~/Scripts/ImageInteractionScript.js"></script>
    <script src="~/Scripts/AddPostModalScript.js"></script>
    <script src="~/Scripts/PostModalScript.js"></script>
    <script>


        
    </script>
</body>
</html>
