
<form method="post" enctype="multipart/form-data">
    <label for="caption">Caption:</label>
    <input name="Caption" type="text" /> <br />
    <label for="image">Select the file:</label>
    <input name="Img" type="file"/>
    <input type="submit"/>
</form>
