@model ChangeProfileViewModel

<form method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="User_Name">User name:</label><br />
        <input asp-for="User_Name" />
        <span asp-validation-for="User_Name"></span>
    </div>
    <div>
        <label asp-for="FullName">Full name:</label><br />
        <input asp-for="FullName" />
        <span asp-validation-for="FullName"></span>
    </div>
    <div>
        <label asp-for="Gender">Gender:</label><br />
        <input asp-for="Gender" type="text" />
        <span asp-validation-for="Gender"></span>
    </div>
    <div>
        <label asp-for="Email">Email:</label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Bio">Bio:</label><br />
        <textarea asp-for="Bio"> </textarea>
        <span asp-validation-for="Bio"></span>
    </div>
    <div>
        <label asp-for="WebSiteLink">Web site link:</label><br />
        <input asp-for="WebSiteLink" />
        <span asp-validation-for="WebSiteLink"></span>
    </div>
    <div>
        <label asp-for="ProfilePicture">Profile picture:</label><br />
        <input type="file" asp-for="ProfilePicture" />
        <span asp-validation-for="ProfilePicture"></span>
    </div>
    <div>
        <input type="submit" value="Registration" />
    </div>
</form>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script> 