@model List<PostViewModel>

@foreach (var p in Model)
{
    <a>
        @if (p.Picture != null)
        {
            <div style="position:relative;width:100%;padding-bottom:100%;" class="user-photo">
                <img style='position:absolute; width:100%; height:100%' src="data:image/jpeg;base64,@(Convert.ToBase64String(p.Picture))" data-post-id="@p.Id" data-author-id="@p.IUser_Id" data-number-likes="@p.Number_Of_Likes" />
                <div class="image-info">

                </div>
            </div>
        }
    </a>
}


<script src="~/Scripts/ImageInteractionScript.js"></script>