@if (!ViewBag.IsFollowing)
{
    <a id="FollowButton">
        Follow
    </a>
    <a id="UnfollowButton" style="display:none;">
        Unfollow
    </a>
}
else
{
    <a id="FollowButton" style="display:none;">
        Follow
    </a>
    <a id="UnfollowButton">
        Unfollow
    </a>
}


<script src="~/Scripts/FollowUnfollowButtonOnUserProfileScript.js"></script>