<div id="like-icon-container" data-postId="@ViewBag.PostId">
    @if (ViewBag.IsLiked)
    {
        <a id="unlike-button" style="display:inline;">
            <img src="~/Pics/icons8-like.png" style="height:30px;width:30px;" />
        </a>
        <a id="like-button" style="display:none;">
            <img src="~/Pics/heathicon.png" style="height:30px;width:30px;" />
        </a>
    }
    else
    {
        <a id="like-button" style="display:inline;">
            <img src="~/Pics/heathicon.png" style="height:30px;width:30px;" />
        </a>
        <a id="unlike-button" style="display:none;">
            <img src="~/Pics/icons8-like.png" style="height:30px;width:30px;" />
        </a>
    }
</div>
<script src="~/Scripts/LikeButtonActionsScript.js"></script>