<img style="width:20px;height:20px;margin-right:5px;" src="~/Pics/output-onlinepngtools.png" />
<p style="color:white;font-size:20px; margin-right:20px;">@ViewBag.Number_Of_Likes</p>
<img style="width:20px;height:20px; margin-right:5px;" src="~/Pics/CommentIcon.png" />
<p style="color:white;font-size:20px;">@ViewBag.Number_Of_Captions</p>