@model LogInViewModel

@{
    Layout = null;
}

<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/signIn.css">
</head>
<body>
    <div id="sign-in-form">
        <div id="sign-in-part">
            <div>
                <img src="~/Pics/insta.png" />

            </div>
            <div id="form-part">
                <form method="post" asp-controller="Account" asp-action="SignIn" autocomplete="off">
                    <div>
                        <input asp-for="Email" placeholder="Email" id="email-field" />
                    </div>
                    <div id="password-part">
                        <input asp-for="Password" placeholder="Password" id="password-field" />
                        <input type="button" id="show-hide-password-button" value="Show" />

                    </div>
                    <div>
                        <input type="submit" id="submit-button" disabled value="Log In" />
                    </div>
                </form>
            </div>
            <div asp-validation-summary="ModelOnly" id="form-errors"></div>

        </div>
        <div id="sign-up-redirection-part">
            <p>Don't have an account? <a asp-action="Register" asp-controller="Account">Sign Up</a></p>
        </div>
    </div>

</body>

</html>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.11.3.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/PasswordFieldInteractionScript.js"></script>