* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'proxima_nova_rgregular';
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
    src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'), url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'), url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'), url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'proxima_nova_rgregular';
}

span {
    font-family: 'proxima_nova_rgregular';
}

.following-follower-user {
    display: grid;
    grid-template-columns: 7% 73% 20%;
    grid-template-rows: 50% 50%;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    column-gap: 10px;
}

.user-name:hover {
    opacity: 0.6;
}

#FollowButton, #UnfollowButton {
    text-decoration: none;
    color: black;
    border: 1px solid #DBDBDB;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.follow-unfollow-buttons {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    cursor: pointer;
}

.unfollow-button {
    border: 1px solid #F1F1F1;
    color: black;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.follow-button {
    border: 1px solid #3897F0;
    color: white;
    background-color: #3897F0;
    border-radius: 5px;
    padding: 5px;
    margin-top: auto;
    margin-bottom: auto;
}

.following-user a:hover {
    cursor: pointer;
}

.global-container {
    width: 100vw;
    min-height: 100vh;
    background-color: #FAFAFA;
}

main {
    display: flex;
}

.main-content {
    display: grid;
    height: 100%;
    width: 40%;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}


#a-i-upper-part {
    display: flex;
    align-items: center;
}

#a-i-middle-part {
    display: flex;
    align-items: center;
}

    #a-i-middle-part * {
        display: inline;
    }

    #a-i-middle-part p, #a-i-middle-part a {
        margin-right: 30px;
    }

#additional-user-information-and-stats {
    display: grid;
    grid-template-rows: 25% 25% 50%;
}

.profile-upperpart-button {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    padding: 5px;
    background-color: #FAFAFA;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#user-information-part {
    display: flex;
    height: 200px;
}

    #user-information-part > a {
        margin-left: auto;
        margin-right: 40px;
        align-self: start;
    }

    #user-information-part div {
        margin-right: auto;
    }

#users-photos-part {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.user-photo img:hover {
    filter: brightness(50%);
    cursor: pointer;
}

.image-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    z-index: 3;
    pointer-events: none;
    display: flex;
    align-items: center;
}

#number-of-followers, #number-of-followings {
    cursor: pointer;
}

    #number-of-followers span {
        display: inline-block;
    }

    #number-of-followings span {
        display: inline-block;
    }

#followers-followings-modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#add-post-modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#edit-profile-modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#form-container {
    margin: auto;
    width: 25%;
    height: 60%;
    background-color: #FFFFFF;
    align-self: center;
    border-radius: 10px;
    padding: 10px;
    display: flex;
}

#edit-profile-modal-content {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 10% 10% 10% 2% 10% 13% 15% 10% 2% 8% 10%;
}

#add-post-modal-content {
    margin: auto;
    width: 400px;
    height: 300px;
    background-color: #FFFFFF;
    align-self: center;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: 45% 5% 20% 5% 25%;
    border-radius: 10px;
}

#post-modal {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#comments-central-part {
    padding: 10px;
    max-height: 100%;
    overflow-y: auto;
}

#post-caption-part {
    display: flex;
    align-items: center;
}


    #post-caption-part textarea {
        border-style: none;
        border-color: transparent;
        overflow: auto;
        height: 60%;
        width: 80%;
        resize: none;
    }

#post-modal-content {
    margin: auto;
    width: 1000px;
    height: 640px;
    display: grid;
    grid-template-columns: 65% 35%;
}

#comments-part {
    display: grid;
    height: 100%;
    grid-template-rows: 70px 420px 150px;
    border-left: 2px solid #F1F1F1;
    background-color: #FFFFFF;
}

#photo-part {
    height: 100%;
}

.comment-modal-follow-following-button {
    cursor: pointer;
}



#comments-top-part {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #F1F1F1;
    padding-left: 10px;
}



#comments-bottom-part {
    display: grid;
    grid-template-rows: 60% 40%;
}

#post-actions-part {
    display: grid;
    border-bottom: 1px solid#F1F1F1;
    border-top: 1px solid#F1F1F1;
    grid-template-rows: 40% 30% 30%;
    padding-top: 10px;
    grid-row-gap: 10px;
}

.caption {
    display: grid;
    grid-template-columns: 12% 88%;
    max-width: 100%;
    word-break: break-word;
}

#edit-profile-modal-content label {
    align-self: center;
    margin-left: auto;
    font-weight: bold;
    margin-right: 10px;
}

#edit-profile-modal-content input {
    border-radius: 5px;
    align-self: center;
    border: 1px solid #DBDBDB;
    height: 40px;
    padding: 5px;
}

#edit-profile-modal-content input[type=submit] {
    border-radius: 5px;
    border: 1px solid #5997F0;
    background-color: #5997F0;
    color: white;
    height: 40px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#edit-profile-modal-content textarea {
    border-radius: 5px;
    border: 1px solid #DBDBDB;
    margin-bottom: 10px;
    padding: 5px;
    resize: none;
}

#post-modal-close {
    color: #FFFFFF;
    font-size: 45px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

#edit-profile-modal-close {
    color: #FFFFFF;
    font-size: 45px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

#add-post-modal-close {
    color: #FFFFFF;
    font-size: 45px;
    margin-right: 20px;
    margin-top: 10px;
    cursor: pointer;
}

#modal-content {
    background-color: #fefefe;
    align-self: center;
    margin: auto;
    border: 1px solid #888;
    border-radius: 15px;
    width: 30%;
    height: 50%;
    display: grid;
    grid-template-rows: 10% 85% 5%;
}

#followers-followings-label {
    margin: auto;
}

#modal-top-part {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DBDBDB;
}

#modal-central-part {
    overflow: auto;
}

#close {
    color: #262626;
    font-size: 45px;
    margin-right: 20px;
}

    #close:hover, #close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

.image-info * {
    display: inline;
}

#user-posts-part {
    display: flex;
    justify-content: center;
    border-top: 1px solid #DBDBDB;
    padding-top: 5px;
    margin-bottom: 20px;
}



    #user-posts-part * {
        display: inline;
    }

    #user-posts-part a p {
        font-size: 12px;
    }

.grid-container {
    display: grid;
    background-color: #FFFFFF;
    border-bottom: 1px solid #DBDBDB;
    position: fixed;
    width: 100%;
    height: 60px;
    grid-template-columns: 25% 50% 25%;
    grid-row-start: 1;
    grid-row-end: 2;
    z-index: 2;
}

.navigation-left-part {
    grid-column-start: 1;
    grid-column-end: 2;
}

.navigation-central-part {
    display: flex;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 3;
}

    .navigation-central-part a, .navigation-central-part div {
        align-items: center;
        display: flex;
    }

    .navigation-central-part a {
        margin-right: 10px;
    }

.navigation-right-part {
    grid-column-start: 3;
    grid-column-end: 4;
}


#container {
    margin: auto;
    width: 40%;
    height: 100vh;
    margin-top: 80px;
}

#get-all-users {
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #DBDBDB;
}

    #get-all-users p {
        margin-right: auto;
        opacity: 0.5;
        filter: alpha(opacity=40);
    }

    #get-all-users a {
        margin-left: auto;
        cursor: pointer;
        color: #0095F6;
    }

#get-all-users-posts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}

input.input-validation-error {
    color: red;
    border-color: red;
}

#users-list {
    margin: auto;
    margin-top: 120px;
    width: 600px;
}

.person {
    width: 100%;
    height: 60px;
    display: flex;
}

    .person:not(:last-child) {
        margin-bottom: 20px;
    }

    .person img {
        height: 55px;
        width: 55px;
        border-radius: 50%;
        margin-right: 10px;
    }

.person-identity a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.person-identity p {
    align-self: start;
    opacity: 0.5;
    filter: alpha(opacity=40);
}

.person-identity {
    display: grid;
    grid-template-rows: 50% 50%;
}

.FollowButton {
    border: 1px solid #3897F0;
    color: white;
    background-color: #3897F0;
    border-radius: 5px;
    padding: 5px;
    margin-right: 8px;
}

.UnfollowButton {
    border: 1px solid #F1F1F1;
    color: black;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
}

.follow-unfollow-user-button-placeholder {
    align-self: center;
    margin-left: auto;
}

/*Buttons hover effects*/
.grid-container a:hover {
    opacity: 0.6;
    filter: alpha(opacity=40);
}

.grid-container a:active {
    transform: translateY(1px);
}


#a-i-upper-part a:hover {
    opacity: 0.6;
    filter: alpha(opacity=40);
}

#a-i-upper-part a:active {
    transform: translateY(1px);
}

#a-i-middle-part a:hover {
    opacity: 0.6;
    filter: alpha(opacity=40);
}

#post-actions-part img {
    cursor: pointer;
}

    #post-actions-part img:hover {
        opacity: 0.6;
    }

@media (min-width:800px) and (max-width: 1600px) {
    #form-container {
        margin: auto;
        width: 45%;
        height: 90%;
        background-color: #FFFFFF;
        align-self: center;
        border-radius: 10px;
        padding: 10px;
        display: flex;
    }

    .main-content {
        display: grid;
        height: 100%;
        width: 60%;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    #modal-content {
        background-color: #fefefe;
        align-self: center;
        margin: auto;
        border: 1px solid #888;
        border-radius: 15px;
        width: 60%;
        height: 70%;
        display: grid;
        grid-template-rows: 10% 85% 5%;
    }

    #container {
        margin: auto;
        width: 60%;
        height: 100vh;
        margin-top: 80px;
    }
}
